<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cloud Storage</title>
    <link rel="icon" type="image/x-icon" th:href="@{'/resources/images/favicon.ico'}">
    <link rel="stylesheet" th:href="@{/resources/css/main.css}">
    <script th:src="@{/resources/js/menu.js}" defer></script>
    <script th:src="@{/resources/js/upload.js}" defer></script>
</head>
<body>
<nav th:replace="~{fragments/navigation.html :: navigation}"></nav>
<main>
    <div class="container">
        <div class="left-side">
            <div class="main-btn">
                <form class="upload-form" id="file_upload">
                    <label for="file_input">Upload file</label>
                    <input type="file" id="file_input" name="uploadFile" required multiple/>
                    <button>Submit</button>
                </form>
                <form class="upload-form" id="folder_upload">
                    <label for="folder_input">Upload folder</label>
                    <input type="file" id="folder_input" name="folder" required directory webkitdirectory/>
                    <button>Submit</button>
                </form>
                <form class="upload-form" id="create_folder">
                    <label for="create_input">Create folder</label>
                    <input type="file" id="create_input" name="folderName" placeholder="Enter folder name" required/>
                    <button>Submit</button>
                </form>
            </div>
            <div class="ram-usage">
                <div class="ram-label">RAM Usage</div>
                <div class="progress-bar">
                    <div class="progress" id="ram-progress" th:style="'width:' + ${usedRam} + '%'"></div>
                </div>
                <div class="ram-percentage" id="ram-percentage" th:text="${usedRam} + '%'"></div>
            </div>
        </div>
        <div class="right-side">
            <div th:replace="~{fragments/url-path :: url-path (pathLinks=${pathLinks}, utils=${minioUtils})}"></div>
            <div class="search-result" th:unless="${foldersPathLinks} == null">
                <div class="search-item" th:each="url : ${foldersPathLinks}">
                    <div th:replace="~{fragments/url-path :: url-path (pathLinks=${url}, utils=${minioUtils})}"></div>
                </div>
            </div>
            <div class="card-zone" th:if="${foldersPathLinks == null}">
                <div class="card" th:each="folder : ${folders}" th:id="${folder.getId()}" data-type="folder"
                     th:data-path="${folder.getMinioObjectId()}">
                    <div class="card-header">
                        <img class="card-img" th:src="@{'/resources/images/folder.svg'}" alt="folder"/>
                        <p class="card-title-text" th:text="${folder.getName()}"></p>
                    </div>
                </div>
                <div class="card" th:each="file : ${files}" th:id="${file.getId()}" data-type="file">
                    <div class="card-header">
                        <img class="card-img" th:src="@{'/resources/images/file.svg'}" alt="file"/>
                        <p class="card-title-text" th:text="${file.getName()}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<div id="error-modal" class="modal" th:if="${error != null}">
    <div class="modal-content">
        <span class="close-button" onclick="closeModal()">&times;</span>
        <h2>Error</h2>
        <p id="error-message" th:text="${error.message}"></p>
    </div>
</div>

<div id="context-menu" class="context-menu">
    <ul>
        <li id="rename">Rename</li>
        <li id="download">Download</li>
        <li id="delete">Delete</li>
    </ul>
</div>
</body>
</html>